.Background{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    opacity: var(--sds-size-stroke-border);
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 2px 13.1px 0px rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(10.199999809265137px);
    position: fixed;
    top: 0;
    z-index: 1000;
}
.col-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    gap: 2rem;
}
li{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: "Lato";
}
a{
    text-decoration: none;
     color: black;
     font-weight: 500;
}

.nav-nav ul li a{
  position: relative;
}

/* ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.west-nav{
    content: '';
    width: 10%;
    height: 3px;
    background-color: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
} */

ul li a:hover{
    color: #613105;
    font-weight: 500;
}

/* .col-two ul li a:hover::after{
     width: 100%;
     color: #613105;
} */

.col-three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.col-three button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lato";
}
.btn-1{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lato";
    background-color: black;
   color: white;
}
.btn-1:active{
    transform:scale(0.95);
} 
.btn-2{
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lato";
    background-color: transparent;
   color: black;
}
.btn-2:active{
    transform:scale(0.95);
}
.col-three button.btn-1{
   background-color: black;
   color: white;
}
.col-three button.btn-2{
   background-color: transparent;
   color: black;
}
