.home-background{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 2px;
    padding: 0rem 2rem;
    margin-top: 2px;
    margin-left: 18rem;
    margin-right: 23rem;
     width: -webkit-fill-available;
     /* width: fit-content; */
    overflow-y: auto;

}
.home-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: -webkit-fill-available;
}
.home-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    padding: 0rem 2rem;
}
.left-wing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.left-wing h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Lato";
    font-weight: 500;
}
.icon-home{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    font-size: 24px;
}
.right-wing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #00CEEA;
    cursor: pointer;
}
.right-wing p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 400;
    color: #00CEEA;
}
.home-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0rem 2rem;
    width: -webkit-fill-available; */
}
.post-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}
.post-top-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.pro-img{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.name-date{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.name-date h2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0rem;
    font-size: 20px;
    font-family: "Lato";
    font-weight: 700;
}
.name-date p{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
    font-size: 14px;
    font-family: "Lato";
    font-weight: 400;
}
.post-side-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.posts-mid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: -webkit-fill-available;
}
.posts-mid p{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}
.post-mainpic{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.sub-reactions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
    margin-top: 0rem;
}
.react{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.fa-con{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    color: Red;
}
.react p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: "Lato";
    font-weight: 500;
}
.right-react{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
hr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.all-reactions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}
.all-reactions ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}
.all-reactions ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}